$color-primary: #F9F7F7;
$color-secondary: #3F72AF;
$color-danger: #af3f3f;
$color-success: #3faf55;

$bg-color: lighten($color-primary, 5);
$container-color: darken($color-primary, 1);
$border-color: darken($color-primary, 50);

$font-color: #3c3c3c;
$link-color: #3F72AF;