$color-primary: #F9F7F7;
$color-secondary: #c2c2c2;
$color-danger: #af3f3f;
$color-success: #3faf55;
$color-warning: #cea54d;
$color-info: #3a79c5;

$bg-color: #ffffff;

$font-color: #3c3c3c;
$link-color: #3F72AF;